nav.navbar.navbar-expand-sm.mb-3
  button.navbar-toggler type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation"
    span.navbar-toggler-icon
  div.collapse.navbar-collapse.navbar-left
    a.navbar-brand href="#" 1 Hour Challenge
  div.collapse.navbar-collapse.navbar-right
    ul.navbar-nav
      - if current_user
        li.nav-item.active
          = link_to "ログアウト", destroy_user_session_path, :method => :delete
      - else
        li.nav-item
          = link_to "新規登録", new_user_registration_path, class: 'post'
        li.nav-item
          = link_to "ログイン", new_user_session_path, class: 'post'

.top-image
  .content 1時間で作ってみた
  = image_tag 'top-image.jpg'

.categories-container.row.mt-5
  .category-container.col-md-4
    .category-title Programming
    .image-container
      = image_tag 'programming.jpg'
  .category-container.col-md-4
    .category-title Workout
    .image-container
      = image_tag 'workout.jpg'
  .category-container.col-md-4
    .category-title English
    .image-container
      = image_tag 'english.jpg'

